html {
    margin: 0px;

}

body {
    background-color: #F7BE80;
    font-family: 'Special Elite', cursive;
}


#displayContainer {

margin: auto;
width: 50%;
height: 50%;

}

#displayTime {
    padding: 50px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    height: 20%;
    font-size: xx-large;


}
